body {
    margin:20px!important;
}
.message {
    margin-left: 20%;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    color: darkslateblue;
    margin-bottom: 5%;
    background: lightgray;

}